RewriteEngine On

# This allows you to land on a file.
RewriteCond %{REQUEST_FILENAME} !-f	

# This allows you to land on a directory.
# RewriteCond %{REQUEST_FILENAME} !-d

# This makes everything route through index.php
RewriteRule ^(.*)$ index.php [QSA,L]		
